<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="icon" href="{% static 'accounts/assets/img/logo.png' %}" type="image/x-icon" />
    <title>Log In</title>
    <script src="{% static 'accounts/assets/js/particle.js' %}"></script>
    <script src="{% static 'accounts/assets/js/main.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="{% static 'accounts/assets/css/main.css' %}">
  </head>
  {% if validlink %}
    <h3>Change password</h3>
    <form action = "{% url 'password_reset_confirm' %}" method="post">
      {% csrf_token %}
          <div class="field">
            <label class="label">New Password</label>
            <div class="control has-icons-right">
              <input class="input" name="password" type="text">
              <span class="icon is-small is-right">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="has-text-centered">
            <input class="button is-vcentered is-primary is-outlined" type="submit" value="Submit">
          </div>
      </form>
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</html>